@import "../../node_modules/bulma/css/bulma.css";
@import "./variables.css";
@import "./footer.css";
@import "./header.css";

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

section .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

h2,
h3 {
  font-family: "Nunito Sans", sans-serif;
}

button {
  outline-style: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button {
  font-weight: 400;
  background-color: var(--primary);
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 38px;
  text-align: center;
  width: auto;
}

.button img.arrow {
  width: 0.5em;
  margin-left: 0.5em;
  height: auto;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.995, 0.015, 0.01, 0.98);
}

a:hover {
  color: var(--link-hover);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.gradient {
  background-color: #060b13;
  background-image: linear-gradient(326deg, #060b13 0%, #0b1848 74%);
}

/* 
Hero
*/

.hero {
  color: white;
}
.hero .title,
.hero .subtitle {
  color: white;
}
.hero .subtitle {
  max-width: 750px;
}
.hero h1 {
  font-size: 3em;
}
.hero .gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent
    linear-gradient(349deg, #0a1e55 0%, #2e2e67 27%, #5f1359 62%, #010101 100%)
    0% 0% no-repeat padding-box;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 0;
}

.content.centered {
  text-align: center;
}

.placeholder {
  display: block;
  width: 300px;
  height: 200px;
  background-color: #0a1e55;
  margin: 0 auto;
}

.short-product-description {
  padding: 1em 0;
}

.columns.alternating-orientation:nth-of-type(even) {
  flex-direction: row-reverse;
}

.page-title {
  margin: 4rem 0 2rem;
  font-size: 42px;
}

@media (max-width: 800px) {
  .page-title {
    margin: 2em 0 1em;
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .page-title {
    margin: 1em 0 1em;
    font-size: 28px;
  }
}

.page-subtitle {
  font-size: 24px;
  font-weight: 800;
  margin: 3em 0 1em;
}

@media (max-width: 480px) {
  .page-subtitle {
    font-size: 22px;
    margin: 1em 0 1em;
  }
}

.text-centered {
  text-align: center;
}

.wrapping {
  flex-wrap: wrap;
}

.center-flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

@media (max-width: 600px) {
  .hero .gradient {
    height: 120%;
  }
  .container {
    padding: 2em;
  }
}

.product-image {
  margin-bottom: 1em;
  margin-top: 1em;
}
