// Layout with clear header
include ../mixins/header.pug

doctype html
html(lang="en-US")
  include ../layouts/headers.pug 
  body
    block header
      +header("clear")
    block content
      #content 
        section empty content block
    block foot
      include ./footer.pug
    script(
      type='text/javascript'
      src='../js/menu.js'
    )