section.call-out.gradient#we-are-open-source
  .container
    .content
      img(src="../img/logos/github-round.svg", alt="GitHub")
      p We are open-source.
        |
        br
        | Check our 
        |
        a(href="https://github.com/BlueBrain/nexus", target="_blank") repositories
        |, report issues, and start contributing today!
