section
  .container
    .content
      img(src="", alt="./img/logos/github-round.svg")
      p We are open-source. <br/> Check our <a href="https://github.com/BlueBrain/nexus" target="_blank">repositories</a>, report issues, and start contributing today!
