section.call-out.gradient#powered-by-nexus
  .container
    .content.centered
      h4.title.is-4 Powered by Nexus
      .columns
        .column
          a(href="https://www.camh.ca/en/science-and-research/institutes-and-centres/krembil-centre-for-neuroinformatics")
            img(src="../img/logos/camh.svg", alt="The Centre for Addiction and Mental Health")
            p Krembil Centre
              |
              | for Neuroinformatics
        .column
          a(href="https://www.humanbrainproject.eu/en/")
            img(src="../img/logos/hbp.svg", alt="The Human Brain Project")
            p Human Brain Poject
        .column
          a(href="https://www.epfl.ch/research/domains/bluebrain/")
            img(src="../img/logos/epfl.svg", alt="École Polytechnique Fédérale de Lausanne")
            p Blue Brain Project
