section.call-out.gradient#powered-by-nexus
  .container
    .content.centered
      p Powered by Nexus
      .columns
        .column
          a(href="")
            img(src="../img/logos/camh.svg", alt="The Centre for Addiction and Mental Health")
            p Krembil Centre
              | for Neuroinformatics
        .column
          a(href="")
            img(src="../img/logos/hbp.svg", alt="The Human Brain Project")
            p Human Brain Poject
        .column
          a(href="")
            img(src="../img/logos/epfl.svg", alt="École Polytechnique Fédérale de Lausanne")
            p Blue Brain Project
