@import "bulma/css/bulma.css";
@import "./footer.css";

:root {
  --link: #f058ea;
  --link-hover: #fff;
  --primary: #a51aa5;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

button {
  outline-style: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button {
  font-weight: 400;
  background-color: var(--primary);
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 38px;
  text-align: center;
  width: auto;
}

.button img.arrow {
  width: 0.5em;
  margin-left: 0.5em;
  height: auto;
}

.header {
  background-color: transparent;
  color: #fff;
  display: flex;
  padding: 0.7em;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  position: relative;
  z-index: 1;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
} */

@media (min-width: 1281px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.logo {
  margin-right: 0.3em;
}

.menu-button-mobile {
  display: none;
}

@media (max-width: 800px) {
  .menu-button-mobile {
    display: block;
    width: 2.5em;
  }
}

#menu-container {
  display: none;
  position: absolute;
  top: 62px;
  right: 0;
  padding: 0.5em;
  width: 80%;
  height: 100vh;
  background-color: grey;
}

.menu-item {
  list-style-type: none;
  margin-bottom: 1em;
  padding-bottom: 1em;
  color: #fff;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.menu-item-button {
  color: #fff;
  font-weight: 300;
  font-size: 1em;
}

.navigation {
  display: flex;
}

.nav-link {
  text-decoration: none;
}

.nav-button,
.nav-link {
  color: #fff;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0 20px;
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
}

.dropdown-item {
  position: relative;
}

#products-dropdown,
#use-cases-dropdown,
#getting-started-dropdown,
#dev-dropdown {
  display: none;
  position: absolute;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  left: -15%;
  background-color: #fff;
  top: 40px;
  width: 250px;
  font-size: 14px;
  line-height: 25px;
}

#dev-dropdown {
  left: -70%;
}

#products-submenu,
#use-cases-submenu,
#getting-started-submenu,
#dev-submenu {
  display: none;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.995, 0.015, 0.01, 0.98);
}

a:hover {
  color: var(--link-hover);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.gradient {
  background-color: #060b13;
  background-image: linear-gradient(326deg, #060b13 0%, #0b1848 74%);
}

/* 
Hero
*/

.hero {
  color: white;
}
.hero .title,
.hero .subtitle {
  color: white;
}
.hero .subtitle {
  max-width: 750px;
}
.hero h1 {
  font-size: 3em;
}
.hero .gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent
    linear-gradient(349deg, #0a1e55 0%, #2e2e67 27%, #5f1359 62%, #010101 100%)
    0% 0% no-repeat padding-box;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  z-index: 0;
}

.content.centered {
  text-align: center;
}
