@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

button {
  outline-style: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button {
  font-weight: 400;
  background-color: #a51aa5;
  color: #fff;
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 38px;
  text-align: center;
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 1em;
}

.header {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 0.7em;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

@media (min-width: 1281px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.logo {
  margin-right: 0.3em;
}

.menu-button-mobile {
  display: none;
}

@media (max-width: 800px) {
  .menu-button-mobile {
    display: block;
    width: 2.5em;
  }
}

#menu-container {
  display: none;
  position: absolute;
  top: 62px;
  right: 0;
  padding: 0.5em;
  width: 80%;
  height: 100vh;
  background-color: grey;
}

.menu-item {
  list-style-type: none;
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
  color: #fff;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.submenu {
  display: none;
}

.menu-item-button {
  color: #fff;
  font-weight: 300;
  font-size: 1em;
}

.navigation {
  display: flex;
}

.nav-link {
  text-decoration: none;
}

.nav-button,
.nav-link {
  color: #fff;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0 20px;
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
}

.dropdown-item {
  position: relative;
}

#products-dropdown {
  display: none;
  position: absolute;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  left: -50%;
}
