@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #a51aa5;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 38px;
  text-align: center;
  width: 100px;
}
