.use-case-nav-block {
  margin: 3em 0;
}

.use-case-section {
  margin-bottom: 3em;
}

@media (max-width: 1024px) {
  .use-case-section {
    margin: 1em;
  }
}

.use-case-buttons {
  display: flex;
  align-items: center;
}

.use-case-buttons > a {
  margin-bottom: 1em;
  width: 170px;
}

.use-case-buttons > a:last-child {
  margin-bottom: 0;
}

.bbp-block {
  padding: 1em;
  color: #fff;
  font-weight: 400;
  line-height: 2.5em;
  max-width: 640px;
}

@media (max-width: 769px) {
  .use-case-buttons > a:last-child {
    margin-bottom: 2em;
  }

  .bbp-block {
    max-width: none;
    margin-right: 0;
    overflow: hidden;
  }
}

.use-case-logo {
  margin-right: 10px;
}

.use-case-link {
  margin-left: 10px;
}
