//- Main Index
extends ./layouts/base.pug

include ./mixins/button.pug
include ./mixins/shortProductDescription.pug
include ./mixins/valueProposition.pug
include ./mixins/getStartedLink.pug

block content
  - 
    var features = [{
      title: "Science-Driven",
      description:
        "While most companies have a plethora of people and tools to manage their data, scientists and researchers don’t have the time nor resources to do so. We developed Nexus by focusing on their specific needs, and by integrating with their existing workflows.",
    },
    {
      title: "Production-Ready",
      description: "Developed to cover the need of any data-intensive team, laboratory or organization. You can manage your data and knowledge graph in a secure and scalable fashion. The level of performance can be scaled to your needs, and we take extra-precautions to protect your data."
    },
    {
      title: "All-in-One",
      description: "A complete suite of integrated tools and services to organize, manage and leverage your data. You could start structuring your data by using our Forge python framework, store it using our Delta web services, and easily access and share it through our Fusion web interface. We also have a CLI to manage the instance, and javascript and python libraries to develop your own apps."
    },
    {
      title: "Versatile",
      description: "Ready to cope with any field of application, Nexus allows you to structure and evolve your data continuously. Extensive use of data representation standards. Easily used in combination with your Data Science tools."
    },
    {
      title: "Value from Data",
      description: "From organizing your data to drawing value from them, Nexus has the tools you need. Keep track of data lineage to enable evaluation of data quality and experiment reproducibility. Ensure valuable data is made available and reused by your team, your organization or the rest of the world. Leverage your Knowledge Graph to fuel your next Artificial Intelligence application."
    },
    {
      title: "Extensible",
      description: "Nexus is built with flexibility and extensibility in mind. Beyond the tools and services offered, build your own extensions to suit your needs. For example, you can create your own data mappers in Forge, data visualisation plugins in Fusion and react to Knowledge Graph events in Delta. "
    }]
  - 
    var getStartedLinks = [{
      title: "Play in the Sandbox",
      href: ""
    },
    {
      title: "Explore Python Notebooks",
      href: ""
    },
    {
      title: "Read the Documentation",
      href: ""
    },
    ]
  - 
    var getHelpLinks = [{
      title: "Explore the FAQ",
      href: ""
    },
    {
      title: "Reach out on Twitter",
      href: ""
    },
    {
      title: "Check the Roadmap",
      href: ""
    },
    ]


  section.hero.is-fullheight
    .gradient
    .hero-body
      .container
        h1.title.is-spaced Better data management starts here <br /> and we're open source
        h2.subtitle Quickly build, use, and manage knowledge graphs using our web app, backend services, or python framework.
        .columns
          .column
            a(href="#why-nexus")
              +button("Why Nexus?", true)
          .column
            a(href="#what-is-nexus")
              +button("What is Nexus?", true)
          .column
            a(href="#get-started")  
              +button("Get started")

  section#what-is-nexus
    .container
      .content.centered
        h2 What is Nexus?
        p.subtitle Blue Brain Nexus is an ecosystem that allows you to organize and better leverage your data through the use of a Knowledge Graph. In addition to the products listed here, you’ll find a rich ecosystem of libraries and tools.
      .content
        +shortProductDescription(
          "Nexus Fusion", 
          "Enabling Data and Knowledge Discovery", 
          "Fusion is our extensible web application. It hosts different apps to accommodate various use cases. It comes by default with Studios (where you work with data), Admin (for managing the Nexus instance), and will soon support Workflows to organise your data activities. It runs on top of the Delta web services, and integrates neatly with our Forge python framework.",
        )
        +shortProductDescription(
          "Nexus Delta", 
          "Managing Data and Knowledge Graph Lifecycles", 
          "A scalable and secure service to store and leverage all your data, neatly organised in a Knowledge Graph.",
        )
        +shortProductDescription(
          "Nexus Forge", 
          "Building and Using Knowledge Graphs Made Easy.", 
          "Fusion is our extensible web application. It hosts different apps to accommodate various use cases. It comes by default with Studios (where you work with data), Admin (for managing the Nexus instance), and will soon support Workflows to organise your data activities. It runs on top of the Delta web services, and integrates neatly with our Forge python framework.",
        )
  include ./layouts/openSourceCallOut.pug
  section#why-nexus
    .container
      .content.centered
        h2 Why Nexus?
        p.subtitle Nexus was born out of a need for better data management in the simulation neuroscience field, but built with genericity in mind. The data management needs of scientists is something that we value and aim at making as easy as possible.
        .tile.is-ancestor.wrapping
          each feature in features
            .tile.is-parent.is-4
              article.tile.is-child.box
                +valueProposition(feature.title, feature.description)
  include ./layouts/poweredByCallOut.pug
  section#get-started
    .container
      .content.centered
        h2 Get Started
        p.subtitle From playing with our sandbox web interface, exploring python notebooks, or reading more about technical aspects in the docs, you’re covered. You can also visit our code base on Github or contact us directly.
        .tile.is-ancestor.wrapping
          each getStartedLink in getStartedLinks
            .tile.is-parent.is-4
              article.tile.is-child
                +getStartedLink(getStartedLink.title, getStartedLink.href)
  include ./layouts/newsletterCatchCallOut.pug
  section#any-questions
    .container
      .content.centered
        h2 Still have questions?
        .tile.is-ancestor.wrapping
          each getHelpLink in getHelpLinks
            .tile.is-parent.is-4
              article.tile.is-child
                +getStartedLink(getHelpLink.title, getHelpLink.href)
  
