//- Products
extends ./layouts/base.pug

include ./mixins/header.pug
include ./mixins/button.pug
include ./mixins/shortProductDescription.pug
include ./mixins/valueProposition.pug
include ./mixins/getStartedLink.pug
include ./mixins/seoHeaders.pug

block header
  +header()

block pageHeaders
  +seoHeaders(
    "Blue Brain Nexus",
    "Some description"
  )

block content
  - 
    var features = [{
      title: "Studios",
      description: "Query and organize the data stored in your Nexus instance, or federate across other instances, in dedicated workspaces. Visualize the resource’s details, download the data and metadata, and explore the surrounding graph.",
    },
    {
      title: "Extensible (plugins)",
      description: "We created Nexus Fusion to be extensible. Besides our default plugins to visualize resources, you can develop and deploy your own. In addition, Fusion offers a framework to showcase your web apps. We provide workspaces and an admin interface out-of-the-box."
    },
    {
      title: "Search",
      description: "Searching has never been easier. Nexus Fusion leverages the powerful indexing features from Delta to power the search functionalities. You can use our default index or customize your own. Search your resources in different projects, by categories, or with free text."
    },
    {
      title: "Graph Exploration",
      description: "Nexus uses metadata to create the Knowledge Graph of your entities. You can use Fusion to navigate the surrounding network around your resources. You can also use our editor to write our own graph (SPARQL) queries."
    },
    {
      title: "Administration",
      description: "Manage your Nexus instance. You can create and manage organizations, projects, and visualize permissions. You can also upload and browse data, and edit metadata directly, create and monitor views. Finally, write and test ElasticSearch and SPARQL queries in our web editor."
    }]
    var title = "Nexus Fusion"
    var overviewText = "Nexus Fusion is the web application that runs on top of our Nexus Delta API. It supports all the functionalities of the backend services, from managing permissions to indexing resources. It is built with collaboration in mind.Our Fusion web app comes with default apps for working with data and managing the Nexus instance. Not enough? You can plug your own app and leverage our stack.In addition, resources available in the instance can be easily visualized through plugins. Do you need more plugins? No problem, just write your own and upload it to the plugin library.Nexus Fusion leverages our javascript library, Nexus.js."
    var featureText = "Nexus Fusion offers rich features for working with data. We are constantly enriching those."
    var product = "fusion"
    var imagePath = "../img/products/fusion.png"
    var productTagline = "Enabling Collaborative Data and Knowledge Discovery."
    var productDescription = "An extensible, open-source web interface that thrives on your data. With workspaces, plugins, and an admin interface available out-of-the-box, you can start working with your ingested data immediately."

  include ./layouts/product.pug