mixin button(text, arrow)
    button.button
        span= text
            if arrow 
                img(
                    src="../img/navigate-next.svg"
                    class="arrow"
                ) 