mixin getStartedLink(linkName, href)
  a(href="href")
    .get-started.center-flex
      h4.title= linkName
      figure.image.is-128x128
        img(src="https://bulma.io/images/placeholders/128x128.png", alt="placeholder")
