mixin gettingStartedList()
  ul
    li Quick Start Guide
    li Nexus Sandbox
    li Running Nexus Delta and Fusion
    li Understanding Knowledge Graphs
    li Building Knowledge graphs with the Forge