mixin valueProposition(featureTitle, featureDescription)
  .value-prop.center-flex
    figure.image.is-128x128
      img(src="https://bulma.io/images/placeholders/128x128.png", alt="placeholder")
    h4.title= featureTitle
    h5.subtitle= featureDescription
