name: Docs
on:
  pull_request:
    paths:
      - 'docs/**'
      - 'build.sbt'
      - 'project/**'
      - '.github/workflows/ci-docs.yml'

jobs:
  review:
    if: github.event_name == 'pull_request'
    runs-on: it
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Review
        run: sbt "project docs" clean scalafmtCheck scalafmtSbtCheck paradox paradoxValidateLinks
