name: Delta Static analysis
on:
  pull_request:
    paths:
      - 'akka/**'
      - 'delta/**'
      - 'build.sbt'
      - 'project/**'
      - '.github/workflows/ci-delta-static-analysis.yml'
jobs:
  run:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-22.04-arm
    timeout-minutes: 20
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'sbt'
          check-latest: true
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Static analysis
        run: |
          sbt -Dsbt.color=always -Dsbt.supershell=false \
            clean \
            static-analysis