name: Delta Core
on:
  pull_request:
    paths:
      - 'delta/**'
      - 'build.sbt'
      - 'project/**'
      - '.github/workflows/ci-delta-core.yml'
jobs:
  static-analysis:
    if: github.event_name == 'pull_request'
    runs-on: it
    timeout-minutes: 10
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Static Analysis
        run: |
          sbt -Dsbt.color=always -Dsbt.supershell=false \
            "project delta" \
            clean \
            scalafmtCheck \
            Test/scalafmtCheck \
            scalafmtSbtCheck \
            scapegoat
  review:
    if: github.event_name == 'pull_request'
    runs-on: it
    timeout-minutes: 20
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Tests
        run: |
          sbt -Dsbt.color=always -Dsbt.supershell=false \
            clean \
            coverage \
            app/test \
            kernel/test \
            rdf/test \
            sdk/test \
            sourcingPsql/test \
            testkit/test \
            app/coverageReport \
            kernel/coverageReport \
            rdf/coverageReport \
            sdk/coverageReport \
            sourcingPsql/coverageReport \
            testkit/coverageReport
