name: CONTRIBUTING and README
on:
  pull_request:
    paths:
      - 'CONTRIBUTING.md'
      - 'README.md'

jobs:
  review:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Markdown link checks
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          folder-path: '.'
          max-depth: 1
          use-verbose-mode: yes
