name: Release Sonatype
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  release:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      CI_RELEASE: publishSigned
      RELEASE_TO_SONATYPE: true
      PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
      PGP_SECRET: ${{ secrets.PGP_SECRET }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
      - name: Publish To Sonatype
        run: sbt -Dsbt.color=always -Dsbt.supershell=false ci-release